<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eye Tracking AAC</title>
    
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index1.css') }}">  
    
</head>
<body>
    <text>
            <div class = "textbox"> 
                    <h2 id="main">Welcome to the AAC</h2>
                    <p>x = <span id="ex">x</span> y = <span id="ey">y</span> </p>
            </div>
    </text>
   <grid>
        <div class="grid-container">
                <div class="grid-item"><button id="a" class="block" onclick="change('a')" type="button">A</button></div>
                <div class="grid-item"><button id="b" class="block" onclick="change('b')" type="button">B</button></div>
                <div class="grid-item"><button id="c" class="block" onclick="change('c')" type="button">C</button></div>
                <div class="grid-item"><button id="d" class="block" onclick="change('d')" type="button">D</button></div>
                <div class="grid-item"><button id="e" class="block" onclick="change('e')" type="button">E</button></div>
                <div class="grid-item"><button id="f" class="block" onclick="change('f')" type="button">F</button></div>
                <div class="grid-item"><button id="g" class="block" onclick="change('g')" type="button">G</button></div>
                <div class="grid-item"><button id="h" class="block" onclick="change('h')" type="button">H</button></div>
                <div class="grid-item"><button id="i" class="block" onclick="change('i')" type="button">I</button></div>
                <div class="grid-item"><button id="j" class="block" onclick="change('j')" type="button">J</button></div>
                <div class="grid-item"><button id="k" class="block" onclick="change('k')" type="button">K</button></div>
                <div class="grid-item"><button id="l" class="block" onclick="change('l')" type="button">L/Y</button></div>
        </div>
        <text>
            <div class = "textbox"> 
                    <h2 id="main2">Welcome to the AAC</h2>
                    <p>x = <span id="ex2">x</span> y = <span id="ey2">y</span> </p>
            </div>
        </text>

        <div class = "grid-container">
                <div class="grid-item"><button id="m" class="block" onclick="change('m')" type="button">M</button></div>
                <div class="grid-item"><button id="n" class="block" onclick="change('n')" type="button">N</button></div>
                <div class="grid-item"><button id="o" class="block" onclick="change('o')" type="button">O</button></div>
                <div class="grid-item"><button id="p" class="block" onclick="change('p')" type="button">P</button></div>
                <div class="grid-item"><button id="q" class="block" onclick="change('q')" type="button">Q</button></div>
                <div class="grid-item"><button id="r" class="block" onclick="change('r')" type="button">R</button></div>
                <div class="grid-item"><button id="s" class="block" onclick="change('s')" type="button">S</button></div>
                <div class="grid-item"><button id="t" class="block" onclick="change('t')" type="button">T</button></div>
                <div class="grid-item"><button id="u" class="block" onclick="change('u')" type="button">U</button></div>
                <div class="grid-item"><button id="v" class="block" onclick="change('v')" type="button">V</button></div>
                <div class="grid-item"><button id="w" class="block" onclick="change('w')" type="button">W</button></div>
                <div class="grid-item"><button id="x" class="block" onclick="change('x')" type="button">X/Z</button></div>
                <div class="grid-item"><button id="y" class="block" onclick="change('y')" type="button">Y</button></div>
                <div class="grid-item"><button id="z" class="block" onclick="change('z')" type="button">Z</button></div>
                <!-- <div class="grid-item"></div> -->
                <div class="grid-item"><button class="block" onclick="recalibrate()" type="button">Recalibrate</button></div>
                <!-- <div class="grid-item"></div> -->
                <div class="grid-item"><button class="block" onclick="change('<=')" type="button">{=</button></div>
              </div>
    </grid>
    
        Select Voice: <select name="" id="voicelist"></select>
        <br></br>
        <!-- <input type="text" id="txt"> -->
        <br></br>
        <!-- <button id="speak">Speak!</button> -->

        <video id="camera" height="480" width="640" ></video>
        <!-- <button class="block" onclick="sendframe()">Send</button> -->
        <canvas id="frame" height="480" width= "640"></canvas>
        <canvas id="eyeimg" height="480" width= "640"></canvas> 
        <canvas id="blurimg" height="480" width= "640"></canvas> 
        
    <!-- <script src="{{url_for('static', filename='js/keyboard.js')}}"></script> -->
    <script src="{{url_for('static', filename='js/socketjsio.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.js')}}" ></script>
    <script>
        var xA, yA, xE, yE, xK, yK, xB, yB, xC, yC, xD, yD, xF, yF, xG, yG, xH, yH, xI, yI, xJ, yJ, xL, yL
        var xM, yM, xN, yN, xO, yO, xP, yP, xQ, yQ, xR, yR, xS, yS, xT, yT, xU, yU, xV, yV, xW, yW, xX, yX
        var mM, aA, eE, uU, yyY, bB, cC, dD, fF, gG = false
        var arr 
        var scrolly = 2
        var cal, topPage;

        var voicelist = document.querySelector("#voicelist")
        // var txt = document.querySelector("#txt")
        // var speak = document.querySelector("#speak")

        var tts = window.speechSynthesis
        var voices = []

        GetVoices()

        if(speechSynthesis !== undefined){
            speechSynthesis.onvoiceschanged = GetVoices
        }

        window.addEventListener('keydown', speaks)

        function speaks(key){
            if(key.keyCode == '75'){
                var toSpeak = new SpeechSynthesisUtterance(tex)
                var selectedVoiceName = voicelist.selectedOptions[0].getAttribute('data-name')
                voices.forEach((voice)=>{
                if(voice.name === selectedVoiceName){
                    toSpeak.voice = voice
                }
            })
            tts.speak(toSpeak)
            }
        }


        function GetVoices(){
            voices = tts.getVoices()
            voicelist.innerHTML = ''
            voices.forEach((voice)=>{
                var listItem = document.createElement('option')
                listItem.textContent = voice.name
                listItem.setAttribute('data-lang', voice.lang)
                listItem.setAttribute('data-name', voice.name)
                voicelist.appendChild(listItem)
            })

            voicelist.selectedIndex = 0;

        }

        window.addEventListener("keydown", scrolling)

        function scrolling(key){
            if(key.keyCode == '76'){
              //  console.log("l pressed")
                if(scrolly == 690){ //if scrolled down
                    scrolly = 30 
                    window.scrollTo(0, scrolly) //scroll up
                    topPage = true
                }
                else{ 
                    scrolly = 690 
                    window.scrollTo(0, scrolly) //scroll down
                    topPage = false
                }
            console.log("scrolly:",scrolly)
            }

        }
        // calibrating bool variable needed for set interval
        function defaults(){ 

            arr = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x']
            let bcol = "#4CAF50"
            let col = "white"

            for(i in arr){
                document.getElementById(arr[i]).style.backgroundColor = bcol
                document.getElementById(arr[i]).style.color = col
            }
            
        }

        function pressA(key){ //previously M
            if(key.keyCode == "65"){
                aA = true;
                xA = xM = xEye
                yA = yM = yEye
             console.log("A:", xA, yA)
        
                defaults()
                window.addEventListener("keydown", pressB) //previously A
                window.removeEventListener("keydown", pressA)
                document.getElementById('main').innerHTML = "Recalibration: Look at B then press A key"
                document.getElementById('b').style.color = "black"
                document.getElementById('b').style.backgroundColor = "#ddd"
                return;
            }
            
            //alert("space key pressed")
        }

        function pressB(key){ //prev A
         //   window.removeEventListener("keydown", pressM)
            if(key.keyCode == 65 && aA){
                bB = true
                xB = xN = xEye;
                yB = yN = yEye;
                console.log("B:", xB, yB)

                defaults()
                window.addEventListener("keydown", pressC)
                window.removeEventListener("keydown", pressB)
                document.getElementById('main').innerHTML = "Recalibration: Look at C then press A key"
                document.getElementById('c').style.color = "black"
                document.getElementById('c').style.backgroundColor = "#ddd"

                return;
            }
            
           // alert("space key pressed 2")
           // window.removeEventListener("keydown", pressA)
        }

        function pressC(key){
            if(key.keyCode == 65 && bB){
                cC = true;
              //  console.log(cC)
                xC = xO = xEye
                yC = yO = yEye
                console.log("C:", xC, yC)
            
                defaults()
                window.addEventListener("keydown", pressD)
                window.removeEventListener("keydown", pressC)
                document.getElementById('main').innerHTML = "Recalibration: Look at D then press A key"
                document.getElementById('d').style.color = "black"
                document.getElementById('d').style.backgroundColor = "#ddd"

                return;
            }
        }

        function pressD(key){
            if(key.keyCode == 65 && cC){
                dD = true;
            //    console.log(uU)
                xD = xP = xEye
                yD = yP = yEye
                console.log("D:", xD, yD)
            
                defaults()
                window.addEventListener("keydown", pressE)
                window.removeEventListener("keydown", pressD)
                document.getElementById('main').innerHTML = "Recalibration: Look at E then press A key"
                document.getElementById('e').style.color = "black"
                document.getElementById('e').style.backgroundColor = "#ddd"

                return;
            }

        }

        function pressE(key){
            
            if(key.keyCode == 65 && dD){
                eE = true;
                xE = xQ = xEye
                yE = yQ = yEye
                console.log("E:", xE, yE)
            
                defaults()
                window.removeEventListener("keydown", pressE)
                window.addEventListener("keydown", pressF)
                document.getElementById('main').innerHTML = "Look at F then press a"
                document.getElementById('f').style.color = "black" 
                document.getElementById('f').style.backgroundColor = "#ddd"
            
                return;
            }
        }

        function pressF(key){
            if(key.keyCode == 65 && eE){
                fF = true
                xF = xR = xEye
                yF = yR = yEye
                console.log("F:", xF, yF)

                defaults()
                window.removeEventListener("keydown", pressF)
                window.addEventListener("keydown", pressG)
                document.getElementById('main').innerHTML = "Look at G then press A key"
                document.getElementById('g').style.color = "black" 
                document.getElementById('g').style.backgroundColor = "#ddd"

            }
        }
        
        function pressG(key){
            
            if(key.keyCode == 65 && fF){
                gG = true
                xG = xS = xEye
                yG = yS = yEye
                console.log("G:", xG, yG)

                defaults()
                window.removeEventListener("keydown", pressG)
                window.addEventListener("keydown", pressH)
                document.getElementById('main').innerHTML = "Recalibration: Look at H then press A key"
                document.getElementById('h').style.color = "black"
                document.getElementById('h').style.backgroundColor = "#ddd"

                return;
            }
        }

        function pressH(key){

            if(key.keyCode == 65 && gG){
                hH = true
                xH = xT = xEye
                yH = yT = yEye 
                console.log("H:", xH, yH)

                defaults()
                window.removeEventListener("keydown", pressH)
                window.addEventListener("keydown", pressI)
                document.getElementById("main").innerHTML = "Recalibration: Look at I then press A key"
                document.getElementById('i').style.color = "black"
                document.getElementById('i').style.backgroundColor = "#ddd"

                return;
            }
        }
            
        function pressI(key){
            if(key.keyCode == 65 && hH){
                iI = true
                xI = xU = xEye 
                yI = yU = yEye
                console.log("I", xI, yI)

                defaults()
                window.removeEventListener("keydown", pressI)
                window.addEventListener("keydown", pressJ)
                document.getElementById("main").innerHTML = "Recalibration: Look at J then press A key"
                document.getElementById('j').style.color = "black"
                document.getElementById('j').style.backgroundColor = "#ddd"
            }
        }

        function pressJ(key){
            if(key.keyCode == 65 && iI){
                jJ = true
                xJ = xV = xEye
                yJ = yV = yEye
                console.log("J:", xJ, yJ)

                defaults()
                window.removeEventListener("keydown", pressJ)
                window.addEventListener("keydown", pressK)
                document.getElementById("main").innerHTML = "Recalibration: Look at K then press A key"
                document.getElementById('k').style.color = "black"
                document.getElementById('k').style.backgroundColor = "#ddd"
            }
        }

        function pressK(key){
            if(key.keyCode == 65 && jJ){
                kK = true
                xK = xW = xEye 
                yK = yW = yEye
                console.log("K:",xK,yK)

                defaults()
                window.removeEventListener("keydown", pressK)
                window.addEventListener("keydown", pressL)
                document.getElementById("main").innerHTML = "Recalibration: Look at L then press A key"
                document.getElementById('l').style.color = "black"
                document.getElementById('l').style.backgroundColor = "#ddd"

            }
        }

        function pressL(key){
            if(key.keyCode == 65 && kK){
                lL = true
                xL = xX = xEye 
                yL = yX = yEye 
                console.log("L:", xL, yL)

                defaults()
                window.removeEventListener("keydown", pressL)

                document.getElementById("main").innerHTML = "Recalibration: Done"

                cal = true
            }
        }

        function recalibrate(){ // A - B - C - D - E - F - G - H - I - J - K - L/Y 
            cal = false
            count = 0
            document.getElementById("main").innerHTML = "Recalibration: Look at A then press 'A' key"
            document.getElementById("a").style.color = 'black'
            document.getElementById('a').style.backgroundColor = '#ddd'
            window.scrollTo(0,30)
            topPage = true

            window.addEventListener("keydown", pressA) //previously pressM

        }
        function highlight(letter){
            defaults()
            document.getElementById(letter).style.backgroundColor = "#ddd"
            document.getElementById(letter).style.color = "black"
        }

        function eyeKey(x,y){ //take current eye coords and map it to a letter and return change(letter)
            // map extreme coordinates to extreme keys
            let error = 20
            let letter
            let alphaX = [xA, xB, xC, xD, xE, xF, xG, xH, xI, xJ, xK, xL] // CHANGE
            let betaX = [xM,xN,xO,xP,xQ,xR,xS,xT,xU,xV,xW,xX] 
            let alphaY = [yA, yB, yC, yD, yE, yF, yG, yH, yI, yJ, yK, yL]
            let betaY = [yM,yN,yO,yP,yQ,yR,yS,yT,yU,yV,yW,yX]
            let i
            if(topPage){
                for(i = 0; i <= alphaX.length; i++){
                    if(x <= (alphaX[i] + error) && x >= (alphaX[i] - error) && y <= (alphaY[i] + error) && y >= (alphaY[i] - error)){
                        letter = arr[i]
                        highlight(letter)
                        console.log("Toppage:", topPage)
                    }
            }
            }
            if(!topPage){
                for(i = 0; i <= betaX.length; i++){
                if(x <= (betaX[i] + error) && x >= (betaX[i] - error) && y <= (betaY[i] + error) && y >= (betaY[i] - error)){
                    letter = arr[i+12]
                    highlight(letter)
                    console.log("topPage:", topPage)
                }
                }

            }
            return change(letter);
        }


        // KEYBOARD CODE//
        function change(letter){
            console.log(tex);
            let arr = tex.split("");
        //    console.log(arr);
            if(count === 0){
                arr=[];
                count++;
            }
            switch(letter){ //add all the hover attributes to style
                case 'a':
                    console.log('You pressed A');
                    arr.push('a');
                 //   console.log(arr);
                    break;
                case 'b':
                    arr.push('b');
                    break;
                case 'c': 
                    arr.push('c');
                    break;
                case 'd': 
                    arr.push('d');
                    break;
                case 'e': 
                    arr.push('e');
                    break;
                case 'f': 
                    arr.push('f');
                    break;
                case 'g': 
                    arr.push('g');
                    break; 
                case 'h': 
                    arr.push('h');
                    break;
                case 'i': 
                    arr.push('i');
                    break;
                case 'j': 
                    arr.push('j');
                    break;
                case 'k': 
                    arr.push('k');
                    break;
                case 'l':
                    arr.push('l');
                    break;
                case 'm': 
                    arr.push('m');
                    break;
                case 'n': 
                    arr.push('n');
                    break; 
                case 'o': 
                    arr.push('o');
                    break;
                case 'p': 
                    arr.push('p');
                    break;
                case 'q': 
                    arr.push('q');
                    break;
                case 'r':
                    arr.push('r');
                    break;
                case 's': 
                    arr.push('s');
                    break;
                case 't':
                    arr.push('t');
                    break;
                case 'u':
                    arr.push('u');
                    break;
                case 'v':
                    arr.push('v');
                    break;
                case 'w':
                    arr.push('w');
                    break;
                case 'x': 
                    arr.push('x');
                    break;
                case 'y': 
                    arr.push('y');
                    break;
                case 'z': 
                    arr.push('z');
                    break;    
                case '<=':
                    arr.pop();
                    break;
            }
            if(arr.length === 1){
            arr[0] = arr[0].toUpperCase();  
            }
            tex = arr.join("");
            console.log(tex);
            document.getElementById("main").innerHTML = tex;
            document.getElementById("main2").innerHTML = tex;
        }
        var count = 0;
        var tex = document.getElementById("main").innerHTML;
        // KEYBOARD CODE END // 

        // SOCKET IO CODE //
        var socket
        $(document).ready(function(){
            if (navigator.getUserMedia){
                console.log("True")
                navigator.getUserMedia({
                    audio: false,
                    video: true
                },success,failed)
            }
            else
                console.log("False")
    
            socket = io()
            // socket.emit("name", "My name is Joel")
            socket.on("response", function(xy){
                xEye = xy.x
                yEye = xy.y
                $('#ex').html(xy.x) 
                $('#ey').html(xy.y)
                $('#ex2').html(xy.x)
                $('#ey2').html(xy.y)
                if(cal){eyeKey(xEye, yEye)}

                var img = new Image();
                var eyeimage = document.getElementById("eyeimg")
                var canv = eyeimage.getContext('2d')
                img.onload = function(){canv.drawImage(img, 0, 0)}
                img.src = xy.blur

                var blurr = new Image();
                var blurimage = document.getElementById("blurimg")
                var canv2 = blurimage.getContext('2d')
                blurr.onload = function(){canv2.drawImage(blurr, 0, 0)}
                blurr.src = xy.img




            })
           
          // cam.play()
        })
        function success(stream){
            var cam = document.getElementById("camera")
            cam.srcObject = stream
            cam.play()
           // cam.onloadedmetadata = function(){cam.play}
        }
        function failed(error){
            alert(error)
        }
        function sendframe(){
            var cam = document.getElementById("camera")
            var canv = document.getElementById("frame")
            var context = canv.getContext("2d")
            context.drawImage(cam, 0, 0)
            var image = canv.toDataURL('image/jpeg', 1)
            console.log("Sending frame")
            socket.emit("frame", image)
        }
     setInterval(sendframe, 200)

    </script>
</body>
</html>